<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Construtor de Formulário</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="/style.css">
</head>
<body>
<header>
    <img src="images/solar.png" alt="Solar Meninos de Luz">
</header>
<div class="div-forms">
<div class="form-container">
    <br>
    <button class="add-form-button" onclick="addForm()" style="font-size: 20px; width: 250px; height: 40px; display: flex; align-self: center;">
        <i class="fas fa-plus"></i> Adicionar Formulário
    </button>
    
    <br>
    <div id="forms" style="display: flex; flex-wrap: wrap; justify-content: space-around; flex-direction: row;"></div>
</div>

<br>
    <div class="form-container" id="saved-forms-container">
    <h3>Formulários Salvos</h3>
    <div id="saved-forms"></div>
  </div>
</div>
<div id="notification" class="notification"></div>
<script type="module" src="js/notification.js"></script>
<script type="module" src="js/formManager.js"></script>
<script type="module" src="js/dataManager.js"></script>
<script type="module" src="js/main.js"></script>
</body>
</html>
